<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blockleotopmenu</name>
            <displayName><![CDATA[Main Top horizontal menu]]></displayName>
            <version><![CDATA[1.5]]></version>
            <description><![CDATA[Add a new menu on top of your shop based on LeoTheme Theme]]></description>
            <author><![CDATA[leotheme]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>