/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
@media (max-width: 1196px) and (min-width: 992px) {
  .editortool .label-customize {
    display: none;
  }

  #leo-megamenu .navbar-nav > li {
    padding-right: 20px;
  }
  .rtl #leo-megamenu .navbar-nav > li {
    padding-left: 20px;
    padding-right: inherit;
  }

  .product-block .functional-buttons .btn {
    font-size: 10px;
    line-height: 2;
  }

  #thumbs_list {
    width: 300px;
  }
}
@media (min-width: 1200px) {
  #guestTracking .form-group {
    overflow: hidden;
  }
  #guestTracking .form-group i {
    padding-left: 10px;
  }
  .rtl #guestTracking .form-group i {
    padding-right: 10px;
    padding-left: inherit;
  }
  #guestTracking .form-control {
    float: left;
  }
  .rtl #guestTracking .form-control {
    float: right;
  }
  #guestTracking label {
    float: left;
    clear: both;
    width: 100%;
  }
  .rtl #guestTracking label {
    float: right;
  }
}
@media (max-width: 1199px) {
  .zoomdiv {
    display: none !important;
  }
}
@media (max-width: 991px) {
  html {
    background: none;
  }

  .navbar-header .navbar-toggle {
    display: block;
    float: left;
    margin: 0;
    width: 40px;
    height: 48px;
    background: #c33976;
    color: #fff;
  }
  .rtl .navbar-header .navbar-toggle {
    float: right;
  }

  .collapse.navbar-collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none;
  }
  .navbar-nav > li {
    float: none;
  }

  .leo-megamenu .navbar-header {
    float: right;
  }
  .rtl .leo-megamenu .navbar-header {
    float: left;
  }
  .leo-megamenu span.fa {
    font-size: 17px;
  }

  .float-vertical.active > .block_content {
    position: relative;
  }

  #leo-verticalmenu .open > .dropdown-menu {
    max-width: 100%;
    position: relative;
    left: auto !important;
    width: 100% !important;
    top: 100%;
  }

  div.verticalmenu .navbar-nav {
    margin: 0;
  }

  .header_user_info .popup-title {
    display: block;
  }

  .dropdown-menu > li > a {
    padding: 3px 0;
  }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: transparent;
  }

  ul.links li .fa, ul.links li .icon {
    width: 10px;
  }

  .product-block .image img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .footer-block h4:after {
    top: 0px;
  }

  .widget-footer-nav:before {
    width: 96%;
  }

  #thumbs_list {
    margin-left: 20px;
  }
  .rtl #thumbs_list {
    margin-right: 20px;
    margin-left: inherit;
  }

  .newsletter #newsletter_block_left {
    border-left: none;
  }
  .rtl .newsletter #newsletter_block_left {
    border-right: none;
    border-left: inherit;
  }
  .newsletter #newsletter_block_left .title_block {
    float: none !important;
    padding-bottom: 0;
  }
  .newsletter .form-group {
    margin-bottom: 0;
    width: auto;
    float: left;
  }
  .rtl .newsletter .form-group {
    float: right;
  }

  .rtl .form-newsletter .input-group-btn {
    clear: both;
    float: right;
  }
  .rtl .newsletter #newsletter_block_left .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
}
@media (max-width: 480px) {
  #search_block_top {
    margin-top: 15px;
  }

  .search_query {
    left: -5px;
    right: auto;
  }
  .rtl .search_query {
    right: -5px;
    left: auto;
  }
  .rtl .search_query {
    right: -5px !important;
  }

  .blockcart_top {
    margin-top: 15px;
    clear: both;
  }

  .newsletter input.form-control {
    width: 230px !important;
  }
  .newsletter .input-group-btn {
    float: left;
    clear: both;
  }
  .rtl .newsletter .input-group-btn {
    float: right;
  }
  .newsletter #newsletter_block_left .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }

  .blog_container .blog-meta {
    clear: both;
  }

  .logo-manu {
    text-align: center;
  }

  #layer_cart .layer_cart_cart .button-container {
    text-align: center;
  }

  #layer_cart .layer_cart_cart .button-container .btn {
    float: none!important;
    margin-bottom: 10px;
  }

  #thumbs_list {
    width: 200px;
  }
}
