<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>lofmanufacturerscroll2</name>
            <displayName><![CDATA[Lof Manufacturers Scroll 2]]></displayName>
            <version><![CDATA[1.0.1]]></version>
            <description><![CDATA[Lof Manufacturers Scroll 2 - Support Responsive]]></description>
            <author><![CDATA[]]></author>
            <tab><![CDATA[LandOfCoder]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>