<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>asmcarrier</name>
	<displayName><![CDATA[ASM Transporte Urgente]]></displayName>
	<version><![CDATA[2.0.0]]></version>
	<description><![CDATA[Modulo para realizar envios con ASM]]></description>
	<author><![CDATA[ASM]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>