
/*  
 * LAYOUT VARIABLES 
 */

// Topbar 
$topbar-outside-bg: 				#200127 !default;
$topbar-bg: 						$topbar-outside-bg !default;
$topbar-color: 						#94729c !default;
$topbar-font-size: 					13px;
$topbar-height:                     30px !default;
$topbar-padding:					10px 0 !default;

// header main
$headermain-outside-bg :			#2f0a2f !default; 
$headermain-bg: 			 		$headermain-outside-bg !default;
$headermain-color:					$text-color !default;

// Footer
$footer-outside-bg :				#200228 !default;
$footer-bg: 						$footer-outside-bg !default;
$footer-color: 						$text-color !default;