@import "compass";
@import "theme_variables";

@media (max-width: 1196px) and (min-width: 992px) {
	//Theme config live
	.editortool .label-customize {display: none;}
	.product-block .functional-buttons .btn{
		font-size:10px;
	}

	#thumbs_list{
		width:285px;
	}

} 
@media (min-width: $screen-lg) { // min 1200px

	//GUEST TRACKING
	#guestTracking {
		.form-group {
      		overflow: hidden;
	      	i {
	        	@include rtl-padding-left(10px);
	      	}
    	}
    	.form-control {
      		@include rtl-float-left ();
    	}
    	label {
      		@include rtl-float-left ();
      		clear: both;
     		width: 100%;
    	}
	}
}
@media (max-width: $screen-md-max) { // max 1199px
  	//Zoom
  	.zoomdiv {
    	display: none !important;
  	}
}

@media (max-width: $screen-sm-max) { // max 991px
	#header-main .container .inner{
		padding-top:20px;
	}
	//logo
	#header_logo{
		text-align: center !important;
		margin-bottom: 27px ;

	}
	//Menu Canvas
	html {background:none;}
	.megamenu-top {
		height: 0;
		.widget {height: 0;}
	}
	.navbar-header {
		height: 0;
		.navbar-toggle{
			display: block;
			@include rtl-float-left();
			top: -50px;
			margin: 0;
			width: 50px;
			padding: 15px 10px;
			background: $theme-color-default;
			color: #fff;
		}
	}
	.collapse.navbar-collapse  {
	  	display: none!important
	}
	.navbar-nav {
		float: none;
		>li{
			float:none;
		}
	}	

	.leo-megamenu{
		span.fa{
			font-size: 17px;
		}
	}
	.off-canvas #leo-megamenu{
		border:none;
		height: 0;
		margin-top: 0;
	}
	//end canvas
	.float-vertical.active{
		> .block_content{
			position:relative;		
		}
	} 	
	
	#leo-verticalmenu .open > .dropdown-menu {
		max-width: 100%;
		position: relative;
		left: auto !important;
		width: 100% !important;
		top: 100%;
	}
	div.verticalmenu .navbar-nav{
		margin: 0;
	}
	.header_user_info .popup-title{
	  display: block;
	}
	.dropdown-menu > li > a{padding: 3px 0;}
	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
		background: transparent;
	}
	ul.links li .fa, ul.links li .icon{
		width: 10px;
	} 
	//product
	.product-block .image img{
		width:100%;
	}
	//blockcart
	#cart .heading {
		min-width: 232px;
	}
}

@media (max-width: $screen-xs-max) { // max 767px

	.footer-block h4:after{
		top:0px;
	}

	.widget-footer-nav:before{
		width: percentage(($container-sm - $grid-gutter-width)/$container-sm);
	}
	//search
	.blockcart_top{
		margin-top: 15px;
		clear:both;
	}
	

	// Block newsletter
	.newsletter{
		 #newsletter_block_left {
		 	@include rtl-border-left(none);
		 	.title_block{
			 		float:none !important;
			 		padding-bottom:0;
			}
		 }
		 .form-group{
			margin-bottom: 0;
			width: auto;
		}
	}
	.rtl {
		.form-newsletter{
			.input-group-btn{
				clear:both;
				float:right;
			}
		}
		.newsletter #newsletter_block_left .btn{
			@include border-radius(0);
		}
	}
}

@media (max-width: $screen-xs) { // max 480px
	//search
	#search_block_top form#searchbox input.search_query{
		max-width: 85%;
	}
	

	// Block newsletter
	.newsletter{
		input.form-control{
			width: 230px !important;
		}
		.input-group-btn{
			@include rtl-float-left();
			clear:both;
		}
		#newsletter_block_left .btn{
			@include border-radius(0);
		}
	}


	//blog
	.blog_container .blog-meta{
		clear:both;
		padding: 10px 0;
	}

	.logo-manu{
		text-align: center;
	}

	#layer_cart .layer_cart_cart .button-container{
		text-align: center;
	}
	#layer_cart .layer_cart_cart .button-container .btn{
		float: none!important;
		margin-bottom: 10px;
	}
	//product
	#thumbs_list{
		width: 190px;
	}
	
}